body{
    width:100vw;
    height:100vh;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.btn button{
    width:100px;
    line-height: 40px;
    border-radius: 50px;
    border:none;
}
h1{
    font-size:30px;
}
.btn button:hover{
    background:yellow;
}
